<hr>
<div Align="center">
<div style ="float:left">
<h>日本円-アメリカドル（JPY-USD）</h>
<ul>
<li>
  高値：<%= @usdjpy_high %>
</li>
<li>
  始値：<%= @usdjpy_open %>
</li>
<li>
  買値：<%= @usdjpy_bid %>
</li>
<li>
  売値：<%= @usdjpy_ask %>
</li>
<li>
  低値：<%= @usdjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('usdjpy.png'), '/sales/usdjpy' %>
<br><br>
<hr>
<div style ="float:left">
<h>日本円-ユーロ（JPY-EUR）</h>
<ul>
<li>
  高値：<%= @eurjpy_high %>
</li>
<li>
  始値：<%= @eurjpy_open %>
</li>
<li>
  買値：<%= @eurjpy_bid %>
</li>
<li>
  売値：<%= @eurjpy_ask %>
</li>
<li>
  低値：<%= @eurjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('eurjpy.png'), '/sales/eurjpy' %>
<br><br>
<hr>
<div style ="float:left">
<h>日本円-イギリスポンド（JPY-GBP）</h>
<ul>
<li>
  高値：<%= @gbpjpy_high %>
</li>
<li>
  始値：<%= @gbpjpy_open %>
</li>
<li>
  買値：<%= @gbpjpy_bid %>
</li>
<li>
  売値：<%= @gbpjpy_ask %>
</li>
<li>
  低値：<%= @gbpjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('gbpjpy.png'), '/sales/gbpjpy' %>
<br><br>
<hr>
<div style ="float:left">
<h>日本円-カナダドル（JPY-CAD）</h>
<ul>
<li>
  高値：<%= @cadjpy_high %>
</li>
<li>
  始値：<%= @cadjpy_open %>
</li>
<li>
  買値：<%= @cadjpy_bid %>
</li>
<li>
  売値：<%= @cadjpy_ask %>
</li>
<li>
  低値：<%= @cadjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('cadjpy.png'), '/sales/cadjpy' %>
<br><br>
<hr>
<div style ="float:left">
<h>日本円-オーストラリアドル（JPY-AUD）</h>
<ul>
<li>
  高値：<%= @audjpy_high %>
</li>
<li>
  始値：<%= @audjpy_open %>
</li>
<li>
  買値：<%= @audjpy_bid %>
</li>
<li>
  売値：<%= @audjpy_ask %>
</li>
<li>
  低値：<%= @audjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('audjpy.png'), '/sales/audjpy' %>
<br><br>
<hr>
<div style ="float:left">
<h>日本円-ニュージーランドドル（JPY-NZD）</h>
<ul>
<li>
  高値：<%= @nzdjpy_high %>
</li>
<li>
  始値：<%= @nzdjpy_open %>
</li>
<li>
  買値：<%= @nzdjpy_bid %>
</li>
<li>
  売値：<%= @nzdjpy_ask %>
</li>
<li>
  低値：<%= @nzdjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('nzdjpy.png'), '/sales/nzdjpy' %>
<br><br>
<hr>
<div style ="float:left">
<h>日本円-南アフリカランド（JPY-ZAR）</h>
<ul>
<li>
  高値：<%= @zarjpy_high %>
</li>
<li>
  始値：<%= @zarjpy_open %>
</li>
<li>
  買値：<%= @zarjpy_bid %>
</li>
<li>
  売値：<%= @zarjpy_ask %>
</li>
<li>
  低値：<%= @zarjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('zarjpy.png'), '/sales/zarjpy' %>
<br><br>
<hr>
<div style ="float:left">
<h>日本円-スイスフラン（JPY-CHF）</h>
<ul>
<li>
  高値：<%= @chfjpy_high %>
</li>
<li>
  始値：<%= @chfjpy_open %>
</li>
<li>
  買値：<%= @chfjpy_bid %>
</li>
<li>
  売値：<%= @chfjpy_ask %>
</li>
<li>
  低値：<%= @chfjpy_low %>
</li>
</ul>
<Form><Input type="button" value="更新する" onClick="javascript:history.go(0)"></Form><br>
</div>
<%= link_to image_tag('chfjpy.png'), '/sales/chfjpy' %>
</div>