<p>
銘柄コード: <%= @q %>
</p>
<p>
aaaa:<%= @MARKET_OPEN_MINUTE %>
</p>
<p>
市場: <%= @x %>
</p>
<p>
ティックの長さ: <%= @i %>
</p>
<p>
データ取得期間: <%= @p %>
</p>
<p>
取得値（d=日時,c=終値,o=始値,h=高値,l=安値,v=出来高）: <%= @f %>
</p>
<p>
？: <%= @df %>
</p>
<p>
？: <%= @auto %>
</p>
<p>
開始日時: <%= @ts %>
</p>
<p>
セッションキー: <%= @ei %>
</p>

<p>
a:<%= @params0 %>
</p>
<p>
<!-- リクエストパラメタを表示-->
リクエストパラメタ: <%= @query%>
</p>
<!-- 生のjsonを表示-->
result: <%= @result%>
</p>
<p>
  <!-- エラーメッセージを表示-->
message: <%= @message%>
</p>