<h1>naver matome</h1>
<p> 
# tilte
<%= @title %>
</p>
<p>
# 記事のサムネイル画像
<%= @img %>
</p>
<p>
画像：<%= image_tag 'https://rr.img.naver.jp/mig?src=http%3A%2F%2Fwww.wired.com%2Fimages_blogs%2Fgamelife%2F2013%2F08%2Fsmthmain.jpg&twidth=60&theight=60&qlt=80&res_format=jpg&op=sc' %>
</p>
<p>
# 記事のサムネイル画像
<%= @href %>
</p>
<p>
記事のサムネイル画像： <%= image_tag '' %>
</p>