<h1>chart</h1>
<p> 
# tilte
<%= @title %>
</p>
<p>
# 記事のサムネイル画像
<%= @img %>
</p>
<p>
画像：<%= image_tag 'https://s.tradingview.com/widgetembed/?symbol=JP225USD&interval=1&hidetoptoolbar=1&saveimage=0&toolbarbg=f1f3f6&studies=&hideideas=1&theme=White&style=1&timezone=Asia%2FTokyo&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=ja&referral_id=3613&utm_source=nikkei225jp.com&utm_medium=widget&utm_campaign=chart&utm_term=JP225USD' %>
</p>
<p>
# 記事のサムネイル画像
<%= @href %>
</p>
<p>
記事のサムネイル画像： <%= image_tag '' %>
</p>